.z-index__top {
  z-index: z-index('top');
}

.colortable {
  max-width: 500px;
  font-size: 1.11em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  &--item {
    padding: 1em 0.85em;
    width: 100%;
    background-color: $primary;
    line-height: 1;
  }
}

@each $index, $color in $blue {
  .colortable__blue__#{$index} {
    @if $index != "default" {
      @if $index <= 300 {
        color: $black;
      }
    }
    background-color: map-get($blue, $index);
  }
}

h1 {
  color: $primary;
}
