/*-------------------------------------------------------*\
* PX to EM
* Converts px units to em based on the browser context size
* $font-base-size can be found in src/core/variables
* Useage:
* font-size: em(16px)
* font-size: rem(16px)
\*-------------------------------------------------------*/

@function em($pixels, $context: $font-base-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

@function rem($pixels, $context: $font-base-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}
