/*--------------------------------------------------------*\
 * Base Colors
 *--------------------------------------------------------*/

// Theme Colors
$green: #54af31;
$red: #DA0000;

$black: #161617;
$grey: #B9C5BC;

/*--------------------------------------------------------*\
 * Access Variables
 *--------------------------------------------------------*/

$primary: $green;
$secondary: darken($primary, 10%);

$text-color: $black;

$alert: $red;
