/*--------------------------------------------------------*\
 * Base Colors
 *--------------------------------------------------------*/

// Theme Colors
$green: #54af31;
$red: #DA0000;

// $blue: #4175B6;
$blue-base: #4175B6;
$blue: (
  default: $blue-base,
  100: adjust-hue(mix(white, lighten($blue-base, 20%), 30%), -8%),
  200: adjust-hue(mix(white, lighten($blue-base, 15%), 25%), -6%),
  300: adjust-hue(mix(white, lighten($blue-base, 8%), 15%), -4%),
  400: adjust-hue(mix(white, lighten($blue-base, 2%), 5%), -2%),
  500: $blue-base,
  600: adjust-hue(saturate(darken($blue-base, 8%), 5%), 2%),
  700: adjust-hue(saturate(darken($blue-base, 13%), 10%), 6%),
  800: adjust-hue(saturate(darken($blue-base, 20%), 15%), 8%),
  900: adjust-hue(saturate(darken($blue-base, 25%), 20%), 10%),
);

$black: #161617;
$grey: #B9C5BC;

/*--------------------------------------------------------*\
 * Access Variables
 *--------------------------------------------------------*/

$primary: map-get($blue, 500);
$secondary: darken($primary, 10%);

$text-color: $black;

$alert: $red;
