/*--------------------------------------------------------*\
 * Font Specific Variables
 *--------------------------------------------------------*/

$font-sans-serif-fallback: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif-fallback: "Georgia", Cambria, Times New Roman, Times, serif;

$font-sans: $font-sans-serif-fallback;
$font-serif: $font-serif-fallback;

/*--------------------------------------------------------*\
 * Font Assignments
 *--------------------------------------------------------*/

$font-primary: $font-sans;
