/*--------------------------------------------------------*\
 * Core Font Size
 * This font size will determine the typography size of
 * all elements on this page that use the em or rem function
 * These functions can be found in:
 * ../functions/_px-to-rem.scss
 *--------------------------------------------------------*/

$font-base-size: 16px;

/*--------------------------------------------------------*\
 * Layout
 *--------------------------------------------------------*/

// The maximum page width of all content
$layout-fullpage-width: 1090px;
$layout-max-page-width: 1420px;

$mobile-side-padding: 7%;

/*--------------------------------------------------------*\
 * Animation
 *--------------------------------------------------------*/

// Custom easings
// https://matthewlein.com/ceaser/
$ease-fast-in-out: cubic-bezier(0.835, 0.010, 0.220, 1.000);

/*--------------------------------------------------------*\
 * Paths
 * When the folder structure changes you can quickly adapt
 * the variables here.
\*--------------------------------------------------------*/

$img-root: '../img';
$svg-root: '../svg';
$font-root: '../fonts';
