/*-------------------------------------------------------*\
 * Always put your z-index variables here.
 * Otherwise you will have no overview of all the z-index
 * values that are scattered through the documents
 * Try to keep the z-index in +/- 10 value steps and don't go
 * crazy with 99999 values.
 *
 * Useage:
 * z-index: z-index('modal');
 *--------------------------------------------------------*/

$z-index: (
  above-content: 10,
  menu: 20,
  top: 100,
  modal: 110,
  cookie-consent: 120,
);

@function get-key-from-array($key) {
  @return get-key($z-index, $key);
}
